* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-size: 1.2em;
  color: #444;
  font-family: sans-serif;
}

form {
  background-color: #eee;
  border-top: 2px solid #ccc;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

form input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form button {
  width: 9%;
  background-color: teal;
  color: white;
  border: none;
  padding: 10px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 10px;
}

